@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #1F6F5F;
  --primary: #2FA084;
  --primary-light: #6FCF97;
  --primary-dark: #1F6F5F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F6F5F;
    --foreground: #EEEEEE;
    --primary: #6FCF97;
    --primary-light: #2FA084;
    --primary-dark: #EEEEEE;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}